<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ jsk }}!
  </h1>
  <base href="/">
  <div >
    <div style="float: left">
      <nav>
        <a>Navigation:</a>
        <ul>
          <li><a [routerLink]="['UsersComponent']"> UsersComponent</a></li>
          <li><a [routerLink]="['MyjqueryComponent']"> MyjqueryComponent</a></li>
          <li><a [routerLink]="['FormsDemoApp']"> FormsDemoApp</a></li>
          <li><a [routerLink]="['MyComponent1']"> MyComponent1</a></li>
          <li><a [routerLink]="['MyReduxComponent1']"> MyReduxComponent1</a></li>
          <li><a [routerLink]="['music']"> music</a></li>
          <li><a [routerLink]="['tabs']"> tabs</a></li>
          <li><a [routerLink]="['https']"> https</a></li>
        </ul>
      </nav>
    </div>
   <div style="float: left ;margin: 30px;text-align:center ;width:700px;border: 1px solid #0f0f10 ;padding: 50px">
     <router-outlet></router-outlet>
   </div>

  </div>

</div>
<br>




<!--<div>-->
  <!--<form class="ui  large form segment">-->
    <!--<h3 class="ui header"> add a link</h3>-->
    <!--<div class="field">-->
      <!--<label for="title">title:</label>-->
      <!--<input id="title" name="link" #newtitle>-->
    <!--</div>-->
    <!--<div class="field">-->
      <!--<label for="link">link:</label>-->
      <!--<input id="link" name="link" #newlink>-->
    <!--</div>-->
    <!--<button (click)="addArticle(newtitle,newlink)" class="ui positive right floated button"> Subnmit </button>-->

  <!--</form>-->

  <!--<div class="ui grid posts">-->
    <!--<app-article *ngFor="let article of sortedArticles()" [article]="article"></app-article>-->
  <!--</div>-->

<!--</div>-->

