<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ jsk }}!
  </h1>
  <div class=""></div>
  <!--<app-inventory-app></app-inventory-app>-->
  <!--<forms-demo-app></forms-demo-app>-->
  <!--<http-app></http-app>-->
  <app-di></app-di>
</div>
<div>
  <form class="ui  large form segment">
    <h3 class="ui header"> add a link</h3>
    <div class="field">
      <label for="title">title:</label>
      <input id="title" name="link" #newtitle>
    </div>
    <div class="field">
      <label for="link">link:</label>
      <input id="link" name="link" #newlink>
    </div>
    <button (click)="addArticle(newtitle,newlink)" class="ui positive right floated button"> Subnmit </button>

  </form>

  <div class="ui grid posts">
    <app-article *ngFor="let article of sortedArticles()" [article]="article"></app-article>
  </div>

</div>

